@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: "BPG WEB 001 Caps";
  src: url("../fonts/bpg-web-001-caps-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bpg-web-001-caps-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bpg-web-001-caps-webfont.woff2") format("woff2"), url("../fonts/bpg-web-001-caps-webfont.woff") format("woff"), url("../fonts/bpg-web-001-caps-webfont.ttf") format("truetype"), url("../fonts/bpg-web-001-caps-webfont.svg#bpg_web_001_capsregular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Conv_bpg-arial-webfont';
  src: url("../fonts/bpg-arial-webfont.eot");
  src: local("Γÿ║"), url("../fonts/bpg-arial-webfont.woff") format("woff"), url("../fonts/bpg-arial-webfont.ttf") format("truetype"), url("../fonts/bpg-arial-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  font-family: "BPG WEB 001 Caps"; }

.logo img {
  height: 70px;
  width: 54px;
  object-fit: contain; }

select::-ms-expand {
  display: none; }

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none; }

select {
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 96%; }

header {
  background: #fff;
  padding: 15px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9D9D9; }

.header_contact {
  display: flex;
  align-items: center; }

.header_contact_box {
  display: flex; }
  .header_contact_box .header_contact_info {
    display: flex;
    flex-direction: column;
    margin-right: 30px; }
    .header_contact_box .header_contact_info * {
      font-size: 14px; }
    .header_contact_box .header_contact_info a {
      color: #000; }
  .header_contact_box a.img_link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px; }
    .header_contact_box a.img_link i {
      font-size: 18px;
      color: #000; }
  .header_contact_box a img {
    width: 55%;
    height: 70%;
    object-fit: contain; }

.competetion span {
  background-color: #F3F3F3;
  padding: 5px 10px;
  margin-bottom: 9px;
  display: inline-flex;
  margin-right: 10px; }

#header_fb {
  margin: 0 30px 0  60px;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center; }
  #header_fb i {
    font-size: 19px;
    color: #000; }
  #header_fb svg {
    height: 25px;
    width: 25px; }

.main_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 100px); }
  .main_wrapper .slider-for {
    height: inherit; }
    .main_wrapper .slider-for .slick-list {
      height: inherit; }
      .main_wrapper .slider-for .slick-list .slick-track {
        height: inherit; }
        .main_wrapper .slider-for .slick-list .slick-track figure {
          height: inherit; }
          .main_wrapper .slider-for .slick-list .slick-track figure img {
            width: 100%;
            height: inherit;
            object-fit: cover; }

.slick-prev, .slick-next {
  background: red;
  z-index: 9999; }

.test img {
  width: 100px;
  height: 100px; }

.arrow_left, .arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer; }
  .arrow_left > img, .arrow_right > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    opacity: 0;
    transition: all 1.3s;
    display: none; }
  .arrow_left:hover > img, .arrow_right:hover > img {
    display: block;
    opacity: 1; }
  .arrow_left span, .arrow_right span {
    position: relative;
    width: 55px;
    height: 120px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s; }
    .arrow_left span img, .arrow_right span img {
      height: 25px; }

.arrow_left {
  left: 20px; }

.arrow_right {
  right: 20px; }

.arrow_left > img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 56px; }

.arrow_right > img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 55px; }

.arrow_left:hover span {
  background-color: #fff; }

.arrow_right:hover span {
  background-color: #fff; }

.slider-for figure {
  position: relative; }
  .slider-for figure:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10; }
  .slider-for figure h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #fff;
    font-size: 32px; }

#about {
  margin: 60px 0 40px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 40px; }

.common_title {
  text-align: center; }
  .common_title h3 {
    font-size: 32px;
    color: #202020;
    position: relative;
    display: inline-block; }
    .common_title h3:after {
      content: "";
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #202020;
      width: 120px;
      height: 1px;
      position: absolute; }
    .common_title h3:before {
      content: "";
      bottom: -7px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #202020;
      width: 60px;
      height: 4px;
      position: absolute; }

.about_text {
  width: 100%;
  max-width: 770px;
  margin: 30px auto 0; }
  .about_text * {
    font-family: 'Conv_bpg-arial-webfont';
    font-size: 16px; }

#team {
  margin: 20px 0;
  padding: 5px 0px; }
  #team .about_text {
    margin: 25px auto 0 0; }

.team_fluid .team_box {
  transition: all .3s;
  display: flex;
  align-self: flex-start;
  position: relative;
  padding: 35px 20px 0;
  margin-bottom: 30px;
  overflow: hidden; }
  .team_fluid .team_box .team_bg {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%) translateX(50px);
    z-index: -1;
    width: inherit;
    height: 77%;
    opacity: 0;
    transition: all .5s; }
  .team_fluid .team_box:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-color: transparent; }
    .team_fluid .team_box:hover .team_bg {
      opacity: 1;
      transform: translateY(-50%) translateX(0px); }
  .team_fluid .team_box .team_left_fluid {
    max-width: 350px;
    flex: 0 0 350px; }
    .team_fluid .team_box .team_left_fluid .team_book a {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #F2F2F2;
      align-items: center;
      color: #686868;
      font-size: 18px;
      margin: 10px 0px 0 0;
      padding: 12px 0;
      transition: all .3s; }
      .team_fluid .team_box .team_left_fluid .team_book a img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 8px;
        transition: all .3s; }
      .team_fluid .team_box .team_left_fluid .team_book a:hover {
        background-color: #DA3429;
        color: #fff; }
        .team_fluid .team_box .team_left_fluid .team_book a:hover img {
          filter: brightness(0) invert(1); }
    .team_fluid .team_box .team_left_fluid .team_img {
      width: 100%; }
      .team_fluid .team_box .team_left_fluid .team_img a {
        display: block;
        width: 100%;
        height: 350px; }
        .team_fluid .team_box .team_left_fluid .team_img a img {
          width: 100%;
          height: inherit;
          object-fit: contain; }

.team_info_fluid {
  padding-right: 100px;
  margin-left: 10px; }
  .team_info_fluid .team_info_header h4 a {
    font-size: 22px;
    color: #000000;
    margin-bottom: 10px; }
  .team_info_fluid .team_info_header span {
    font-size: 16px;
    font-family: 'Conv_bpg-arial-webfont'; }

.team_social {
  display: inline-block;
  margin: 10px 0 20px;
  border-radius: 50%;
  background: #2867B2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .team_social i {
    color: #fff; }
  .team_social img {
    height: 35px;
    width: 35px;
    object-fit: contain; }

.team_info_text * {
  font-size: 16px;
  font-family: 'Conv_bpg-arial-webfont'; }

.team_readmore {
  margin: 20px 0 10px; }
  .team_readmore a {
    font-size: 18px;
    color: #000; }
    .team_readmore a img {
      height: 14px;
      transition: all .2s;
      padding-left: 11px;
      margin-bottom: 4px; }
    .team_readmore a:hover img {
      transform: translateX(4px); }

.team_description {
  margin-bottom: 40px; }

.p_left {
  padding-left: 100px !important; }

.team_box_wrapper {
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #F2F2F2;
  padding-bottom: 10px;
  max-width: 1170px;
  margin: 0 auto; }

.error {
  min-height: calc(100vh - 171px); }

.error-img {
  width: 40px;
  height: 40px;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 36px auto 0px; }
  .error-img svg {
    width: 30px;
    height: 20px;
    fill: red; }

.team_description {
  max-width: 1170px;
  margin: 0 auto; }

/*
.team_box:nth-child(even) .team_box_wrapper .team_left_fluid{
	order: 1;
}
.team_box:nth-child(even) .team_bg{
	right: unset;
	left: 2%;
}*/
footer {
  background-color: #242424;
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer #footer_social {
    border: 1px solid #707070;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer #footer_social i {
      color: #fff; }
  footer span {
    color: #707070;
    font-family: 'Conv_bpg-arial-webfont'; }
  footer > div {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    text-align: center; }
  footer .created {
    text-align: right; }
    footer .created img {
      width: 75px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.quote_text {
  position: relative; }
  .quote_text * {
    font-size: 16px;
    color: #202020;
    font-family: 'Conv_bpg-arial-webfont';
    text-indent: 40px; }
  .quote_text:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 4px;
    z-index: 1;
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/quote1.png"); }
  .quote_text .quote {
    display: inline-block;
    position: relative; }
  .quote_text .quote:before {
    content: "";
    position: absolute;
    right: -28px;
    bottom: -4px;
    height: 30px;
    z-index: 1;
    width: 30px;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url("../images/quote.png"); }

.consultant-info span {
  font-size: 16px; }

#flackSeclect.disable {
  pointer-events: none;
  opacity: 0.5; }

.input-group {
  width: calc(100% - 18px); }

.book_fluid {
  max-width: 970px;
  margin: 70px auto 40px;
  background-color: #FCFCFC;
  border: 1px solid #E5E5E5;
  padding: 40px  90px 60px;
  background-image: url("../images/bg.png"), linear-gradient(#FCFCFC, #FCFCFC);
  background-repeat: no-repeat;
  background-position: 111% 27%;
  background-size: 45%, 100%; }
  .book_fluid .book_header {
    text-align: center; }
    .book_fluid .book_header > h3 {
      color: #000;
      font-size: 32px; }

.book_info {
  display: flex;
  align-items: flex-start;
  margin-top: 30px; }
  .book_info .book_img {
    width: 190px;
    height: 200px;
    flex: 0 0 190px; }
    .book_info .book_img img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.book_information {
  flex-grow: 1;
  padding-left: 20px; }
  .book_information .book_paragraph *, .book_information .book_price * {
    font-size: 16px;
    font-family: 'Conv_bpg-arial-webfont';
    color: #202020; }

.custom-control-label ~ a {
  font-family: 'Conv_bpg-arial-webfont';
  font-size: 16px;
  margin-left: 5px; }
  .custom-control-label ~ a:hover {
    text-decoration: underline; }

.invoice a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-10px);
  margin: 10px 0 5px; }
  .invoice a:hover {
    text-decoration: underline; }
.invoice i {
  color: #b53438;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 8px; }
.invoice img {
  height: 30px;
  padding-right: 0px;
  width: 40px;
  text-align: left; }
.invoice span {
  font-size: 16px;
  font-family: 'Conv_bpg-arial-webfont';
  color: #202020; }

.book_form {
  margin: 50px 0 0; }

#customFile .custom-file-input:lang(en)::after {
  content: "Select file..."; }

#customFile .custom-file-input:lang(en)::before {
  content: "Click me"; }

/*when a value is selected, this class removes the content */
.custom-file-input.selected:lang(en)::after {
  content: "" !important; }

.custom-file-input {
  white-space: nowrap; }

.book_form form label {
  padding-left: 3px;
  margin-bottom: 5px;
  font-family: 'Conv_bpg-arial-webfont';
  font-size: 16px;
  color: #202020; }
.book_form form select, .book_form form option, .book_form form textarea {
  font-family: 'Conv_bpg-arial-webfont';
  font-size: 16px;
  /*color: #8B8B8B;*/ }
.book_form form input {
  color: #8B8B8B;
  font-size: 16px;
  font-family: 'Conv_bpg-arial-webfont'; }
  .book_form form input::placeholder {
    color: #8B8B8B;
    font-size: 14px;
    font-family: 'Conv_bpg-arial-webfont'; }

option:disabled {
  color: #20202042 !important; }

.custom-control {
  margin-left: 7px; }

.form_error {
  max-width: 550px;
  margin: 0 auto;
  text-align: center; }
  .form_error span {
    font-size: 16px;
    color: #DA3429; }

.form-group {
  margin-bottom: 25px; }

.custom-file-label span {
  color: #202020;
  font-size: 16px;
  font-family: 'Conv_bpg-arial-webfont';
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 10; }

.input-group > .custom-file {
  margin-top: 20px; }

.custom-file-label::after {
  content: "Choose File" !important;
  padding: 6px 30px 8px 69px !important; }

.custom-control-label {
  cursor: pointer; }

.custom-file-input {
  cursor: pointer; }

.custom-file-label::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/Path 25@2x.png");
  position: absolute;
  top: 2px;
  right: 122px;
  background-repeat: no-repeat;
  z-index: 23;
  background-size: contain;
  background-position: center center; }

.btn-primary {
  color: #fff;
  background-color: #DA3429;
  border-color: unset;
  padding: 14px 100px 9px;
  font-size: 16px;
  margin: 0 auto;
  transition: all .4s;
  font-family: 'Conv_bpg-arial-webfont'; }
  .btn-primary:hover {
    background-color: #b6362d; }

.btn_box {
  text-align: center;
  margin: 75px 0 40px; }

.main-container {
  width: 60%;
  margin: 0 auto; }

.successful span {
  font-size: 16px !important; }

.main-title {
  font-size: 32px;
  color: #202020;
  text-align: center;
  padding: 40px 0 60px;
  font-family: "BPG WEB 001 Caps";
  font-weight: inherit; }

.successful-img img {
  width: 30px; }

.reserve {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  border-right: none;
  cursor: pointer;
  transition: all .4s;
  background-color: #fff;
  z-index: 9000;
  border: 1px solid #DA3429; }
  .reserve svg {
    fill: #DA3429;
    width: 40px;
    height: 40px; }
  .reserve img {
    filter: brightness(0) invert(1); }
  .reserve:hover svg {
    fill: #fff; }
  .reserve:hover span {
    color: #fff !important; }
  .reserve:hover {
    background: #DA3429; }
  .reserve a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    cursor: pointer;
    height: 110px;
    width: 110px;
    justify-content: center; }
    .reserve a span {
      font-family: 'Conv_bpg-arial-webfont';
      font-size: 16px;
      color: #DA3429; }

.reserve:hover .reserve-hover {
  width: 160px;
  padding-left: 10px;
  flex: 0 0 160px; }

.reserve-hover {
  background: white;
  color: #DA3429;
  transition: width .4s ease;
  width: 0;
  overflow: hidden;
  height: 90px;
  border: 1px solid #DA3429;
  transition: all .4s;
  display: flex;
  align-items: center; }

.reserve-hover p {
  margin-left: 15px;
  font-family: 'Conv_bpg-arial-webfont';
  font-size: 16px;
  margin: 0; }

.team_social_box {
  display: flex; }
  .team_social_box a:not(:last-child) {
    margin-right: 10px; }

.reserve img {
  width: 90px;
  padding: 10px;
  height: 66px;
  object-fit: contain; }

.consultant-section {
  display: flex; }

.consultant-img {
  width: 70%;
  padding-right: 30px; }

.consultant-img img {
  width: 100%; }

.consultant-info {
  width: 100%; }

.consultant-info
p {
  margin-top: 10px;
  font-family: 'Conv_bpg-arial-webfont';
  max-height: 173px;
  overflow: hidden; }

.name {
  font-size: 22px;
  font-family: "BPG WEB 001 Caps";
  font-weight: inherit;
  padding-bottom: 10px; }

.position_bold {
  font-weight: bold; }
  .position_bold * {
    font-weight: bold; }

span {
  font-size: 18px;
  font-family: 'Conv_bpg-arial-webfont'; }

.inner_socials {
  display: flex;
  flex-wrap: wrap; }
  .inner_socials a {
    margin: 10px 0 5px;
    border-radius: 50%;
    background: #2867B2;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .inner_socials a:not(:last-child) {
      margin-right: 8px; }
    .inner_socials a i {
      color: #fff;
      font-size: 18px; }

.inner_socials img:hover {
  opacity: .6;
  transition: .3s; }

.form-name > div {
  width: calc(50% - 16px); }
  .form-name > div input {
    width: 100% !important; }

.see-more {
  color: #DA3429 !important;
  font-family: 'Conv_bpg-arial-webfont';
  text-align: center;
  padding: 50px 0 20px;
  border-bottom: 1px solid #E5E5E5; }

.see-more span {
  cursor: pointer;
  transition: .3s; }

.see-more span:hover {
  opacity: .6; }

.review.more-info-text {
  margin-top: 15px;
  font-family: 'Conv_bpg-arial-webfont'; }
  .review.more-info-text ul li {
    font-family: 'Conv_bpg-arial-webfont'; }
  .review.more-info-text * {
    font-family: 'Conv_bpg-arial-webfont'; }

.review {
  margin-bottom: 40px;
  border-bottom: 1px solid #E5E5E5; }

.review p {
  font-size: 16px;
  font-family: 'Conv_bpg-arial-webfont';
  padding: 10px 0 15px;
  margin-bottom: 0px; }

.review-section {
  width: 100%;
  margin: 80px auto 50px;
  border-top: 1px solid #E5E5E5;
  padding-top: 45px;
  padding-bottom: 80px;
  background: #FCFCFC;
  position: relative;
  overflow: hidden;
  z-index: 99; }

.form-background {
  position: absolute;
  bottom: 0;
  right: -45px;
  z-index: -1; }

.review-section form {
  width: 60%;
  margin: 15px auto; }

.title {
  font-size: 22px;
  font-family: "BPG WEB 001 Caps";
  font-weight: inherit;
  text-align: center; }

.info-title {
  font-size: 22px;
  font-family: "BPG WEB 001 Caps";
  font-weight: inherit;
  margin-top: 15px; }

.review-section input,
textarea {
  font-size: 16px;
  padding: 17px 20px;
  font-family: 'Conv_bpg-arial-webfont';
  border: 1px solid #E5E5E5;
  color: #202020;
  width: 100%;
  margin: 17px 0; }

textarea {
  resize: none;
  height: 150px; }

.review-section input::placeholder,
textarea::placeholder {
  color: #202020; }

.form-name {
  display: flex;
  justify-content: space-between; }

.form-name input {
  width: calc(50% - 16px); }

.review.more-info-text ul {
  padding-left: 15px; }

.submit {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.submit input {
  width: 50%;
  cursor: pointer;
  transition: .3s; }

.submit input:hover {
  opacity: .6; }

.success-message {
  text-align: center;
  color: #2ECC71;
  margin-top: 15px;
  word-break: break-word;
  padding: 0 15px; }

.successful {
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 70px 0;
  max-width: 970px;
  margin: 50px auto 30px; }

.successful .main-title {
  padding: 35px 0 20px; }

.successful-img {
  border: 4px solid #2ECC71;
  border-radius: 50%;
  padding: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

.main-container .common_title {
  margin: 30px 0 45px; }

.costumer-info {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  word-break: break-word; }

.form-control {
  height: 52px; }

textarea.form-control {
  height: 150px; }

@media only screen and (max-width: 991px) {
  .consultant-section {
    flex-direction: column; }

  .consultant-img {
    width: 100%;
    padding-right: unset; }

  .consultant-info {
    margin-top: 15px; }

  .main-title {
    padding: 40px 0; } }
@media only screen and (max-width: 768px) {
  .main-container,
  .review-section form {
    width: 90%; }

  .form-name {
    flex-direction: column; }

  .form-name input {
    width: calc(100% - 0px); }

  .submit input {
    width: 100%; }

  .review-section input,
  textarea {
    padding: 13px 15px;
    margin: 7px 0; }

  .consultant-section {
    margin-top: 15px; }

  .see-more {
    padding: 15px 0 15px; }

  .successful {
    padding: 10px 0;
    max-width: 970px;
    margin: 15px auto 15px; } }
@media only screen and (max-width: 992px) {
  header {
    padding: 15px 8px; }

  .header_contact_box:first-child {
    margin-right: 10px;
    margin-top: 10px;
    order: 1; }

  #header_fb {
    margin: 0px 7px 0 0px; }

  .header_contact {
    display: flex;
    align-items: baseline; }

  .header_contact_box .header_contact_info * {
    font-size: 13px; }

  .reserve-hover {
    display: none; }

  .reserve {
    top: unset;
    transform: unset;
    bottom: 0px; }

  #imgleft, #imgright {
    display: none; }

  .main_wrapper {
    height: 150px; }

  .arrow_left span, .arrow_right span {
    position: relative;
    width: 35px;
    height: 70px; }

  .arrow_left span img, .arrow_right span img {
    height: 18px; }

  .arrow_left {
    left: 10px; }

  .arrow_right {
    right: 10px; }

  .slider-for figure h2 {
    font-size: 18px;
    width: calc(100% - 110px);
    text-align: center; }

  #about {
    margin: 30px 0 25px;
    padding-bottom: 15px; }

  .common_title h3 {
    font-size: 25px; }

  .about_text {
    padding: 0 15px; }

  .p_left {
    padding-left: 0px !important; }

  .team_description .text-left {
    text-align: center !important; }

  .team_fluid .team_box {
    padding: 15px 10px 0;
    margin-bottom: 17px; }

  .team_box_wrapper {
    flex-direction: column; }

  .team_fluid .team_box .team_left_fluid .team_img a {
    height: 230px; }

  .team_bg {
    display: none; }

  .team_info_fluid {
    padding-right: 0px;
    padding: 0 10px; }

  .team_box:nth-child(even) .team_box_wrapper .team_left_fluid {
    order: unset !important; }

  footer {
    flex-direction: column; }

  footer > div {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center; }

  footer span {
    color: #707070;
    font-family: 'Conv_bpg-arial-webfont';
    font-size: 12px; }

  .created img {
    width: 79px; }

  .book_fluid .book_header > h3 {
    font-size: 22px; }

  .book_fluid {
    padding: 15px 10px 15px; }

  .book_info {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    flex-direction: column;
    align-items: center; }

  .book_img {
    margin-bottom: 15px; }

  .book_form form label {
    font-size: 14px; }

  .form-group {
    margin-bottom: 10px; }

  textarea.form-control {
    height: 99px; }

  .btn_box {
    text-align: center;
    margin: 25px 0 23px; }

  .book_fluid {
    margin: 20px auto 20px; }

  .header_contact_info {
    display: none !important; }

  .team_fluid .team_box .team_left_fluid {
    margin: 0 auto; }

  .main-title {
    padding: 25px 0 0;
    font-size: 23px; }

  .review-section {
    margin: 25px auto 5px;
    padding-top: 25px;
    padding-bottom: 25px; }

  .form-name > div {
    width: 100%; }

  .costumer-info {
    padding: 5px 10px; }

  .reserve-hover {
    height: 60px; }

  .reserve a {
    cursor: pointer;
    height: 60px;
    width: 60px; }

  .reserve img {
    width: 58px;
    background: unset;
    padding: 0px;
    height: 29px;
    object-fit: contain; } }

/*# sourceMappingURL=main.css.map */
