/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.logo {
  width: 50px;
  height: 50px;
  background: green; }

header {
  background: #fff;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_contact {
  display: flex;
  align-items: center; }

.header_contact_box {
  display: flex; }
  .header_contact_box:first-child {
    margin-right: 40px; }
  .header_contact_box .header_contact_info {
    display: flex;
    flex-direction: column; }
    .header_contact_box .header_contact_info a {
      color: #000; }
  .header_contact_box a.img_link {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header_contact_box a img {
    width: 55%;
    height: 70%;
    object-fit: contain; }

#header_fb {
  margin: 0 70px 0  60px;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center; }
  #header_fb svg {
    height: 25px;
    width: 25px; }

.main_wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: calc(100vh - 100px); }
  .main_wrapper .slider-for {
    height: inherit; }
    .main_wrapper .slider-for .slick-list {
      height: inherit; }
      .main_wrapper .slider-for .slick-list .slick-track {
        height: inherit; }
        .main_wrapper .slider-for .slick-list .slick-track figure {
          height: inherit; }
          .main_wrapper .slider-for .slick-list .slick-track figure img {
            width: 100%;
            height: inherit;
            object-fit: cover; }

.slick-prev, .slick-next {
  background: red;
  z-index: 9999; }

.test img {
  width: 100px;
  height: 100px; }

.arrow_left, .arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer; }
  .arrow_left > img, .arrow_right > img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    opacity: 0;
    transition: all 1.3s;
    display: none; }
  .arrow_left:hover > img, .arrow_right:hover > img {
    display: block;
    opacity: 1; }
  .arrow_left span, .arrow_right span {
    position: relative;
    width: 55px;
    height: 120px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s; }
    .arrow_left span img, .arrow_right span img {
      height: 25px; }

.arrow_left {
  left: 20px; }

.arrow_right {
  right: 20px; }

.arrow_left > img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 56px; }

.arrow_right > img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 55px; }

.arrow_left:hover span {
  background-color: #fff; }

.arrow_right:hover span {
  background-color: #fff; }

/*# sourceMappingURL=main.css.map */
