

@media only screen and (min-width: 1100px) {
.header_nav {
    margin: 0 2% 0% 2%;
}

}
@media only screen and (min-width: 992px) {



    .header_contact {
        padding-left: 100px;
    }
#menu-toggle,.mobile_contact_fluid {
    display: none;
}
.header_top {

    .logo {
        display: none;
    }
}
}

@media only screen and (max-width: 992px) {
   .blogs_fluid .blog_container {
    max-width:100%;
   }
    .news_inner_fluid {
    max-width:100%;
    }
    
    .authorization {
    margin-right:10px;
    margin-left:0;
    }

  .competense_inner {

    margin: 0 auto 10px !important;
  }

.profile_body {
    padding-top: 10px;
}
.profile_edit_comment_box {
    padding-bottom: 5px;
}

.company_edit_info_wrapper {
    
    padding: 20px 0 10px;
   
}

.private_information .mail_info div {
    padding: 10px 5px;
     display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.private_information .password_info div {
    flex-direction: column;
        padding: 10px 5px;
}
.profile_title  {
    margin-bottom: 15px;
        margin-top: 5px;

    h3 {
        font-size: 20px;
    }
}
.private_information span {
    width: 100%;
    display: block;

    &:first-child {
        margin-bottom:10px;
    }
}

    .common_modal .modal-title {
    font-size: 18px;
        margin-right: 74px;
}
    .profile_body .book_center_info .company_name {
    margin: 8px 0 13px;
}

    .profile_body .book_date_time {
        margin-right: 0;
        margin: 0 auto;
    }

    .book_link_wrapper {
        flex-direction: unset;
        justify-content: space-around;
       
    }
    .profile_body .book_info_box {
        display: block;
    }


    .authorization {
        display: inline-block;
    }

    .profile_fluid {
    padding: 25px 0;
    min-height: 75vh;
}
.profile_fluid .profile_nav {
        flex: 0 0 370px;
    max-width: 370px;
    ul {
        padding-right: 15px;
    }
}
.profile_fluid .profile_nav ul li {
    margin-bottom: 10px;
}
.company_edit_info_wrapper .successful_link {
    background-color: #DA3429;
    margin: 15px 2px 5px;
    display: inline-block;
    padding: 10px 15px;
    width: 95%;
}
.company_info_inner_fluid .company_info_header .company_edit_box {
    position: unset;

    
}
.profile_edit_comment_box button {
    padding: 15px 37px;
}
.profile_body {
    margin-left: 0px;
    padding: 0 10px;
}

.profile_wrapper {
    display: block;
}
.profile_fluid .profile_nav {
    position: unset;
}

.company_edit_info_wrapper {

    .costumer_info {
        span {
            font-size: 13px;
        }
    }
}

    .common_modal .modal-title {
        font-size: 24px;
    }
    .common_modal  {
        padding-right: 0 !important;
    }
    .phin_code_wrapper  {
        .form-group {
            padding-left: 0;
        }
    }

    .verification_button_box, .pincode_button_box {
        margin-top: 0;
        margin-bottom: 10px;
    }

    .about_tabs_fluid div:first-child {
        margin-right: 0;
    }
.new_resources_box {
    display: block;
}

 .new_resources_box .recourses_footer {
    display: flex;
}

.new_resources_box .recourses_img {
    max-width: 350px;
    margin: 0 auto;
}
.btn-group .dropdown-menu {
    top: calc(100% + -44px) !important;

}

    .home_team_filter_fluid .team_filter .form_header_wrapper {
        flex-direction: column;
        width: 100%;
    }
    .home_team_filter_fluid .team_filter form {
        display: unset;
    }
    .home_team_filter_fluid .team_filter .form_header_wrapper > div {

        &:not(:last-child){

        border-bottom: 1px solid #ccc;
        }
    }
.form_header_wrapper {

    div {
        min-height: 45px;
    }
}

.search_input {
    height: 45px;
}
    .position_bold:after {
        width: 100%;
    }
    .home_team_filter_fluid .team_filter .search_button {
        width: 100%;
        button {
            width: 100%;
            height: 50px;
        }
    }
.home_team_filter_fluid .team_filter .form_header_wrapper > div {
    flex: 0 0 100%;
    max-width: 100%;
}
.btn-group {
    border:unset;
}
    .team_fluid_bg {
        display: none;
    }
    .recourses_footer {
        display: unset;
    }
    .training_footer_wraper {
        display: unset;
        margin: 0;

        .training_link {
            margin-bottom: 50px;
        }
    }
    .training_footer_wraper .training_link {
     margin-left: 0px;
    margin-top: 12px;
}

 .about_tabs_fluid {
        flex-direction: column;
        align-items: center;
    }

    .about_tabs_fluid div {
    max-width: 85%;
    flex: 0 0 85%;
    width: 100%;
    margin-bottom: 20px;
}

    .nav_dropdown.active:after {
    top: -3px;
    right: -4px;
}

.dropdown:after {
    content: unset;
}

    .dropdown {

     

            li {
                margin-bottom: 6px;
            }
    
    }

.header_nav ul li:not(:last-child) {
    margin-right: 0;
}
.whitesails_main_right .build_hover_link {
    position: absolute;
    top: 21%;
    right: 1%;
    z-index: 1000;
}

.form-name .form-control {
    width: 100% !important;
}

.blogs_fluid {
    padding-bottom: 0px;
    padding-right: 10px;
}

.news_inner_title h3 {
    font-size: 21px;
}
.mobile_contact_fluid {
    padding-left: 5px;

    &>div {
        margin-bottom: 10px;
    }
}
.news_inner_date span:last-child:before {
    content: unset;
}
.news_inner_date span:first-child:after {
    content: unset;

}
body {
    padding-top: 76px;
}
.header_nav {
    margin: 10px 0;
    width: 100%;
}
.common_wrapper .common_title {
    text-align: center;
    margin: 20px 0 14px;
}
.header_bottom {
    background: #f8f8f8;
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
      height: calc(100vh - 76px);
    overflow-y: scroll;
    display: none;
}

.header_nav>ul>li {

    &:not(:last-child){

    border-bottom: 1px solid #fff;
    }
    padding: 6px 9px;
}
.header_contact_box .header_contact_info * {
    font-size: 18px;
}
.nav_dropdown ul {
    position: unset; 
    top: 0; 
    left: 0; 
    border:unset; 
    padding: 10px;
    border-radius: 0px;
    background: #fff;
    display: none;
}
.mobile_contact_fluid {

    .header_contact_box {
       display: flex !important;
    align-items: center;

    }

    .header_contact_info {
        display: block !important;
    }

}
.nav_dropdown a {
    display: block;

}
.nav_dropdown:after {
  
      top: 4px;
    right: -1px;
}
header .header_top {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.header_nav>ul {
    display: unset;
}

.language_box a {
    padding: 8px 5px;
}

.header_bottom {
    .logo {
        display: none;
    }
}


.news_inner_img {
    height: 200px;
    padding: 0 10px;
}
.news_inner_text {
    padding: 0 10px;

}
.blogs_fluid .blog_container {
    display: unset;

    &>div {
        padding-left: 10px;
    }

    .blog_left_tabs {
        margin-bottom: 20px;
    }
}
.blog_wrapper {
    padding-bottom: 0;
    margin-bottom: 30px;
}
.blog_box_wrapper .blog_box_img {
    height: 230px;
}

.team_book a {
    width:100%;
}

.reserve a span {
	font-size: 16px;
}

.reserve svg {

    height: 27px;
}

.header_contact_box a.img_link {
	margin-right: 4px;
}
.logo img {
	width: 44px;
}
#header_fb {
    margin: 0px 7px 0 0px;

}
.header_contact {
    display: flex;
    align-items: center;

}
.header_contact_box .header_contact_info * {
    font-size: 13px;
}

.reserve-hover {
	display: none;
}

.reserve {
	top: unset;
	transform: unset;
	bottom: 48px;
}



#imgleft, #imgright {
	display: none;
}


.arrow_left span, .arrow_right span {
    position: relative;
    width: 35px;
    height: 70px;
}

.arrow_left span img, .arrow_right span img {
    height: 18px;
}
.arrow_left {
    left: 10px;
}

.arrow_right {
    right: 10px;
}

.slider-for figure h2 {
   
    font-size: 18px;
    width: calc(100% - 110px);
    text-align: center;
}
#about {
    margin: 30px 0 25px;
   
    padding-bottom: 15px;
}
.common_title h3 {
    font-size: 25px;
    
}
.about_text {
    padding: 0 15px;
}

.p_left {
    padding-left: 0px !important;
}
.team_description .text-left {
	text-align: center !important; 
}

.team_fluid .team_box {
  
    padding: 15px 10px 0;
    margin-bottom: 17px;
   
}
.team_box_wrapper {
   
    flex-direction: column;
}

.team_fluid .team_box .team_left_fluid .team_img>a {
 
    height: 230px;
}
.team_bg {
	display: none;
}
.team_info_fluid {
    padding-right: 0px;
    padding: 0 10px;
}

.team_box:nth-child(even) .team_box_wrapper .team_left_fluid {
	order: unset !important; 
}

footer {
    flex-direction: column;
}
footer > div {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}
footer span {
    color: #707070;
    font-family: 'Conv_bpg-arial-webfont';
    font-size: 12px;
    }


    .created img {
    	width: 79px;
    }


.book_fluid .book_header > h3 {
    font-size: 22px;
}
.book_fluid {
    padding: 15px 10px 15px;
}
.book_info {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.book_img {
	margin-bottom: 15px;
}
.book_form form label {
    
    font-size: 14px;
  
}

.form-group {
    margin-bottom: 10px;
}
textarea.form-control {
    height: 99px;
}
.btn_box {
    text-align: center;
    margin: 25px 0 23px;
}

.book_fluid {
    margin: 20px auto 20px;
  
}

.header_contact_info {
	display: none !important;
}
.team_fluid .team_box .team_left_fluid {
	margin: 0 auto;
}
.main-title {
    padding: 25px 0 0;
    font-size: 23px;
}
.review-section {

    margin: 25px auto 5px;
    padding-top: 25px;
    padding-bottom: 25px;

}
.form-name > div {
	width: 100%;
}
.costumer-info {
    padding: 5px 10px;
}
.reserve-hover {
	height: 60px;
}
.consultant-img img {
	height: 200px;
}
.reserve {
    width: 100%;
}
.reserve a {
 
    cursor: pointer;
    height: 55px;
    width: 100%;
    flex-direction: unset;
}
.common_text_fluid {
	padding: 10px 15px;
}

.common_text_fluid .common_text_title {
   
    margin-bottom: 13px;
    margin-top: 13px;

    h2 {
    	font-size: 22px;
    }
}

.reserve img {
    width: 58px;
     background: unset;
     padding: 0px;
    height: 29px;
    object-fit: contain;
}
.resource_inner_box {
    display: unset;
}
.resource_inner_box .resource_inner_img {
    flex: 0 0 270px;
    max-width: 375px;
    height: 230px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 10px;
}
.resource_inner_main_info_fluid {
    margin-left: 0px;
    padding: 0 10px;
}



.resource_inner_main_info_fluid .recourses_footer .recourses_link a {
    display: block;
    margin-top: 10px;
}
.resource_bottom_text {
    padding: 0 10px;
}

.header_socials {
    display: none;
}
.header_contact_box {
    display: none;
}

.logo {
    transform: translate(0);
    background: #fff;
    padding: 3px 15px 3px;
}
.language_box {
    padding: 0 5px;
  align-self: unset;
    margin-right: 34px;
}

}

@media only screen and (max-width: 776px) {
    .training_box {
    display: unset;
}    
.training_link a {
    display: block;
}
.training_link {
    margin-top: 10px;
    padding-right: 12px;
    margin-bottom: 20px;
}

.training_box .training_img {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0 10px;
}

.training_box .training_info {
    padding-left: 10px;
}

}

